section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px;
    font: var(--text-span);

    a{
        justify-self: end;
        align-items: center;
        gap: 8px;

        span{
            background-image: url(../assets/icons/ArrowRight-hover.svg);
            width: 16px;
            height: 16px;
        }

        &:hover span{
            background-image: url(../assets/icons/ArrowRight-hover.svg);
        }
    }
}

#featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    & > .card {
        height: 100%;
    }

    .small-cards {
        grid-template-rows: 1fr 1fr;
    }

    .small-cards .card {
        height: 100%;
    }
}

.card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(
           180deg,
           transparent 0%,
           #020617  100%
        );
    }

    figcaption{
        position: absolute;
        bottom: 0;
        padding: 24px;

        &:has(.text-lg){
            padding: 12px;
        }

        h2{
            margin-top: 8px;
        }   
    }
}

#weekly{
    & > div{
        grid-template-columns: repeat(4, 1fr);
    }

    img{
        height: 160px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    figure{
        position: relative;

        .content-tag{
            position: absolute;
            top: 8px;
            left: 8px;
        }
        p{
            margin-top: 8px;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

#ai {
    article {
        align-items: center;
        border-top: 1px solid var(--stroke-color);
        padding-top: 24px;
    }

    article:first-of-type {
        border-top: none;
        padding-top: 0;
    }

    img{
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 8px;
    }

    h3{
        margin-block: 8px 4px;
    }

    p {
        font-size: 14px;
        color: var(--text-color-secondary);
    }
}

aside {
    display: flex;
    flex-direction: column;
    gap: 32px;

    #ads img {
        width: 100%;
        border-radius: 8px;
    }
}

#more {
    article {
        align-items: center;
    }

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
    }

    h3 {
        margin-top: 8px;
        font-size: 14px;
    }
}

